@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



body {
    padding-top: 10px;
    padding-left:0px;
    padding-right:0px;
    margin:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    color: #86045F;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    margin-bottom: 40px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    font-weight: bold;
}

.logo-img {
    width: 64px;
    height: 64px;
    margin:0px
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.buttons a {
    color: black;
    text-decoration: none;
    font-size: 8px;
    transition: 0.3s;
}

.buttons a:hover {
    color: rgb(255, 0, 255)
}

.banner {
    position: relative;
    padding:10px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: left;
    overflow: hidden;
}

.big-neuron {
    display: block;
    position: absolute;
    bottom:0;
    z-index: -1;
}

.banner h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 0px;
    padding:0px;
    text-shadow: 0px 0.5px 2px black;
}

.banner h3 {
    color: #3B083D;
    font-size:35px;
    margin: 0px;
    font-weight: lighter;
}

.banner p {
    font-weight: lighter;
    font-size: 30px;
    color: black;
}

.links {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh; /* 100% da altura da tela */
    background: linear-gradient(#86045F, #242223);
    color: 86045F;
    align-items: center;
}

.links h3 {
    font-size:35px;
    text-align: center;
    color: white;
    overflow: hidden;
    text-shadow: 0 1px 2px white;
}

.links .cards {
    display: flex;
    gap:20px;
    z-index: 1;
}

.links .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: white;
    border-radius: 6px;
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    box-shadow: 0.5px 0.5px 4px rgb(126, 126, 126);
    gap:10px;
}

.card p {
    margin:0px;
    padding:0px;
    text-decoration: none;
}

.card .card-img {
    width: 64px;
    height: 64px;
}

.network {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 0; 
    opacity: 0.5; 
    overflow: hidden;
}

.video-card {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
}

.video-card video {
    width: 300px;
    z-index: 1;
}

.explicacao {
    position: relative;
    padding:10px;
    margin-bottom:80px
}

.explicacao p {
    margin:0
}

.explicacao h1 {
    margin-top: 20px;
    margin-bottom: 0;
}


.imgs-explicacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    margin-top: 50px;
}

.img-explicacao {
    width: 300px;
    height: 200px;
}

.big-neuron2 {
    position: absolute;
    width: 300px;
    height: 400px;
    top: 90px;
    opacity: 50%;
}

.butao-explicacao {
    background-color: #ffc0cb80;
    border: 0;
    color:#86045F;
    font-weight: bold;
    padding: 4px;
}

.partes-neuronio {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.cards a {
    text-decoration: none;
    color:#86045F
} 

.foto-card {
    width: 300px;
    z-index: 1;
}

.fotos-maquete {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
}